---
layout: default
---

<div class="home">


  {{ content }}

  <div class="d-grid gap-2 d-md-block" style="margin: 50px 0px;">
    <button class="btn" style="background-color: rgb(121, 122, 122); width: 150px;height: 50px; font-size: 20px; border-radius: 5px; border-style: none;", type="button"><a href="https://github.com/rashtv/GamerSimplify" target="_blank" style="text-decoration: none; color:white ;">Download &#8595</a></button>

    <button class="btn" style="background-color: rgb(8, 85, 250); width: 200px;height: 50px; font-size: 20px; border-radius: 5px; border-style: none;color: white;", type="button"><a href="https://gamersimplify.readthedocs.io/en/latest/" target="_blank" style="text-decoration: none; color:white ;">Documentation &#8594</a></button>
  </div>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <hr class="diveder" style="border-top: 1px solid;
  border-radius: 5px">

  <h1><strong>Latest News</strong></h1>
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>